<%= form_for @doctor do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :specialty %>
        <%= f.text_field :specialty, class: 'form-control' %>
    </div>
    <div class="form-group">
        <br>
       <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>